# AI Service Dependencies

langchain
langgraph
langchain-community
langchain-core
langchain-openai

fastapi
uvicorn[standard]
python-multipart

youtube-search-python

python-dotenv
pyyaml

pydantic
httpx

tenacity